CHARACTER_ENG_LIVEKIT_ENABLED=true
CHARACTER_ENG_LIVEKIT_URL=ws://127.0.0.1:7880
CHARACTER_ENG_LIVEKIT_API_KEY=devkey
CHARACTER_ENG_LIVEKIT_API_SECRET=secret
CHARACTER_ENG_LIVEKIT_ROOM_PREFIX=character-eng
